.legend {
  position: absolute;
  bottom: 2%;
  left: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  height: 8vh;
  width: 80%;
  padding: 1vh;
  border: 3px solid white;
}

.player {
  display: flex;
  align-items: center;
  font-style: italic;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-size: 1em;
}

.player > *:first-child {
  margin-left: 2vw;
}

.player1.active {
  color: lightblue;
}

.player2.active {
  color: yellow;
}

.disabled {
  color: rgba(211, 211, 211, 0.4);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .legend {
    width: 50%;
    left: 25%;
    bottom: 5vh;
  }
  .player {
    font-size: 1.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
