.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid white;
  min-height: 15vh;
}

.cell > * {
  font-size: 4.5rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cell > * {
    font-size: 5.5rem;
  }
}
