.table {
  display: grid;
  grid-template-columns: repeat(3, minmax(15vh, 1fr));
  justify-content: center;
  height: 100%;
}

.table.disabled {
  opacity: 0.1;
}

.table > *:first-child,
.table > *:nth-child(4),
.table > *:nth-child(7) {
  border-left: none;
}

.table > *:first-child,
.table > *:nth-child(2),
.table > *:nth-child(3) {
  border-top: none;
}

.table > *:nth-child(3),
.table > *:nth-child(6),
.table > *:last-child {
  border-right: none;
}

.table > *:nth-child(7),
.table > *:nth-child(8),
.table > *:last-child {
  border-bottom: none;
}
